rsource "../common/Kconfig.defconfig"

# LEFT: Peripheral, RIGHT: Central

if SHIELD_CHEAKEE_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

if SHIELD_CHEAKEE_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif
