manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    # Additional modules containing boards/shields/custom code can be listed here as well
    # See https://docs.zephyrproject.org/3.2.0/develop/west/manifest.html#projects
    - name: tomori-k
      url-base: https://github.com/tomori-k
  projects:
    - name: zmk
      remote: tomori-k
      revision: avoid-input-split-deadlock
      import: app/west.yml
    - name: zmk-driver-pmw3610
      remote: tomori-k
      revision: main # TODO: バージョン固定
    - name: zmk-behavior-soft-off-local
      remote: tomori-k
      revision: main # TODO: バージョン固定
  self:
    path: config
